# replica 1 - Digital Ocean
REPLICA_1_BUCKET_NAME=CHANGEME
REPLICA_1_ENDPOINT=ams3.digitaloceanspaces.com
REPLICA_1_REGION=ams3
REPLICA_1_ACCESS_KEY_ID=CHANGEME
REPLICA_1_SECRET_ACCESS_KEY=CHANGEME

# replica 2 - Hetzner
REPLICA_2_BUCKET_NAME=CHANGEME
REPLICA_2_ENDPOINT=nbg1.your-objectstorage.com
REPLICA_2_REGION=nbg1
REPLICA_2_ACCESS_KEY_ID=CHANGEME
REPLICA_2_SECRET_ACCESS_KEY=CHANGEME
